## Merging of Datasets

## FIPS codes (acquired from US census website)

In [2]:
## importing necessary libraries
import pandas as pd
master_file = pd.read_csv("combined_file.csv")

master_file

       TYPE    FULLCODE  STATE  COUNTY    TRACT SHEETS
0     TRACT  6001400100      6       1  4001.00      1
1     TRACT  6001400200      6       1  4002.00      1
2     TRACT  6001400300      6       1  4003.00      1
3     TRACT  6001400400      6       1  4004.00      1
4     TRACT  6001400500      6       1  4005.00      1
...     ...         ...    ...     ...      ...    ...
9124  TRACT  6115040902      6     115   409.02      1
9125  TRACT  6115041001      6     115   410.01      1
9126  TRACT  6115041002      6     115   410.02      1
9127  TRACT  6115041101      6     115   411.01      1
9128  TRACT  6115041102      6     115   411.02      1

[9129 rows x 6 columns]

In [2]:
## The 'fullcode' column is not 11 digit code (as desired), hence change it to 11-digit complete code to maintain uniformity

add_zero = "0"  # California state code is 06

# Add leading zeros to the FULLCODE column if needed
master_file['FULLCODE'] = master_file['FULLCODE'].astype(str).str.zfill(10)

# Concatenate state code to the FULLCODE column to create 11-digit FIPS code
master_file['FIPS_COMPLETE_CODE'] = add_zero + master_file['FULLCODE']

# Display the DataFrame with the new FIPS_11 column
master_file.iloc[1:10]

    TYPE    FULLCODE  STATE  COUNTY   TRACT SHEETS FIPS_COMPLETE_CODE
1  TRACT  6001400200      6       1  4002.0      1        06001400200
2  TRACT  6001400300      6       1  4003.0      1        06001400300
3  TRACT  6001400400      6       1  4004.0      1        06001400400
4  TRACT  6001400500      6       1  4005.0      1        06001400500
5  TRACT  6001400600      6       1  4006.0      1        06001400600
6  TRACT  6001400700      6       1  4007.0      1        06001400700
7  TRACT  6001400800      6       1  4008.0      1        06001400800
8  TRACT  6001400900      6       1  4009.0      1        06001400900
9  TRACT  6001401000      6       1  4010.0      1        06001401000

In [3]:

# Create a copy of the original master_file to a new DataFrame master_file2
master_file2 = master_file.copy()

# Add leading zeros to the FULLCODE column if needed
master_file2['FULLCODE'] = master_file2['FULLCODE'].astype(str).str.zfill(10)

# Concatenate state code '0' to the FULLCODE column to create an 11-digit FIPS code
master_file2['FIPS_COMPLETE_CODE'] = add_zero + master_file2['FULLCODE']

master_file2

       TYPE    FULLCODE  STATE  COUNTY    TRACT SHEETS FIPS_COMPLETE_CODE
0     TRACT  6001400100      6       1  4001.00      1        06001400100
1     TRACT  6001400200      6       1  4002.00      1        06001400200
2     TRACT  6001400300      6       1  4003.00      1        06001400300
3     TRACT  6001400400      6       1  4004.00      1        06001400400
4     TRACT  6001400500      6       1  4005.00      1        06001400500
...     ...         ...    ...     ...      ...    ...                ...
9124  TRACT  6115040902      6     115   409.02      1        06115040902
9125  TRACT  6115041001      6     115   410.01      1        06115041001
9126  TRACT  6115041002      6     115   410.02      1        06115041002
9127  TRACT  6115041101      6     115   411.01      1        06115041101
9128  TRACT  6115041102      6     115   411.02      1        06115041102

[9129 rows x 7 columns]

In [4]:
len(master_file)

9129

## CDC dataset (Demographic variables)

In [4]:
## CDC data for race, ethnicity, gender, age groups and other variables related to SDOH

CDC_data = pd.read_csv("CDC race data.csv")

CDC_data

C:\Users\Student\AppData\Local\Temp\ipykernel_16648\1088373975.py:1: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,58,59,60,61,62,63,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,228,236,244,304,318,352) have mixed types. Specify dtype option on import or set low_memory=False.
  CDC_data = pd.read_csv("CDC race data.csv")

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0085PM,DP05_0086PE,DP05_0086PM,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,0400000US06,California,39346023,*****,19562882,1263,19783141,1263,98.9,0.1,...,0.1,(X),(X),25774911,(X),49.1,0.1,50.9,0.1,NaN
2,1400000US06001400100,"Census Tract 4001, Alameda County, California",3035,402,1562,323,1473,158,106.0,21.4,...,3.6,(X),(X),2217,(X),49.8,4.0,50.2,4.0,NaN
3,1400000US06001400200,"Census Tract 4002, Alameda County, California",1983,209,996,130,987,122,100.9,14.5,...,5.0,(X),(X),1588,(X),49.7,3.7,50.3,3.7,NaN
4,1400000US06001400300,"Census Tract 4003, Alameda County, California",5058,559,2441,373,2617,394,93.3,19.4,...,3.7,(X),(X),3919,(X),46.6,6.0,53.4,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9126,1400000US06115040902,"Census Tract 409.02, Yuba County, California",1601,319,960,243,641,127,149.8,37.9,...,4.0,(X),(X),1230,(X),61.1,6.8,38.9,6.8,NaN
9127,1400000US06115041001,"Census Tract 410.01, Yuba County, California",3493,595,1673,319,1820,331,91.9,13.7,...,2.2,(X),(X),2846,(X),49.3,4.2,50.7,4.2,NaN
9128,1400000US06115041002,"Census Tract 410.02, Yuba County, California",4021,655,2149,481,1872,318,114.8,27.0,...,4.1,(X),(X),2994,(X),50.8,4.0,49.2,4.0,NaN
9129,1400000US06115041101,"Census Tract 411.01, Yuba County, California",2751,666,1332,333,1419,426,93.9,26.5,...,2.8,(X),(X),2035,(X),49.8,6.5,50.2,6.5,NaN
9130,1400000US06115041102,"Census Tract 411.02, Yuba County, California",1027,296,634,207,393,151,161.3,65.2,...,18.3,(X),(X),834,(X),57.8,10.4,42.2,10.4,NaN

In [6]:
len(CDC_data)

9131

In [5]:
# Extract the last 11 digits from the 'GEO_ID' column and create a new column 'Extracted_Code'
CDC_data['Extracted_Code'] = CDC_data['GEO_ID'].astype(str).str[-11:]

# Verify the changes made
CDC_data

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0086PE,DP05_0086PM,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358,Extracted_Code
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN,Geography
1,0400000US06,California,39346023,*****,19562882,1263,19783141,1263,98.9,0.1,...,(X),(X),25774911,(X),49.1,0.1,50.9,0.1,NaN,0400000US06
2,1400000US06001400100,"Census Tract 4001, Alameda County, California",3035,402,1562,323,1473,158,106.0,21.4,...,(X),(X),2217,(X),49.8,4.0,50.2,4.0,NaN,06001400100
3,1400000US06001400200,"Census Tract 4002, Alameda County, California",1983,209,996,130,987,122,100.9,14.5,...,(X),(X),1588,(X),49.7,3.7,50.3,3.7,NaN,06001400200
4,1400000US06001400300,"Census Tract 4003, Alameda County, California",5058,559,2441,373,2617,394,93.3,19.4,...,(X),(X),3919,(X),46.6,6.0,53.4,6.0,NaN,06001400300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9126,1400000US06115040902,"Census Tract 409.02, Yuba County, California",1601,319,960,243,641,127,149.8,37.9,...,(X),(X),1230,(X),61.1,6.8,38.9,6.8,NaN,06115040902
9127,1400000US06115041001,"Census Tract 410.01, Yuba County, California",3493,595,1673,319,1820,331,91.9,13.7,...,(X),(X),2846,(X),49.3,4.2,50.7,4.2,NaN,06115041001
9128,1400000US06115041002,"Census Tract 410.02, Yuba County, California",4021,655,2149,481,1872,318,114.8,27.0,...,(X),(X),2994,(X),50.8,4.0,49.2,4.0,NaN,06115041002
9129,1400000US06115041101,"Census Tract 411.01, Yuba County, California",2751,666,1332,333,1419,426,93.9,26.5,...,(X),(X),2035,(X),49.8,6.5,50.2,6.5,NaN,06115041101
9130,1400000US06115041102,"Census Tract 411.02, Yuba County, California",1027,296,634,207,393,151,161.3,65.2,...,(X),(X),834,(X),57.8,10.4,42.2,10.4,NaN,06115041102

In [9]:
len(CDC_data)

9131

In [10]:
# Count how many 'FIPS_COMPLETE_CODE' in 'master_file' are present in 'Extracted_Code' of 'CDC_data'
matches_count = master_file2['FIPS_COMPLETE_CODE'].isin(CDC_data['Extracted_Code']).sum()

# Print the count of matching FIPS codes
print(f"Number of matching FIPS codes: {matches_count}")

Number of matching FIPS codes: 9129

## EPA data set (air quality variables)

In [8]:
EPA_data = pd.read_csv("EPA_dataset.csv")

EPA_data.head(5)

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area
0,1,10010201001,Alabama,AL,4,636,-492.025529,6,52.0,-1866.386370,...,0.071 facilities/km distance (79%ile),40%ile,0.085 facilities/km distance (23%ile),53%ile,0.59 facilities/km distance (57%ile),38%ile,NaN,NaN,13443.155206,6.040790e+06
1,2,10010201002,Alabama,AL,4,1287,-2053.083414,4,30.0,-7787.902602,...,0.064 facilities/km distance (76%ile),19%ile,0.074 facilities/km distance (17%ile),42%ile,0.45 facilities/km distance (52%ile),23%ile,NaN,NaN,11917.089598,7.834160e+06
2,3,10010202001,Alabama,AL,4,810,1846.126938,8,75.0,7002.783717,...,0.069 facilities/km distance (78%ile),85%ile,0.078 facilities/km distance (20%ile),67%ile,0.65 facilities/km distance (59%ile),77%ile,NaN,NaN,7770.915121,2.900774e+06
3,4,10010202002,Alabama,AL,4,1218,1392.075305,8,72.0,5280.461532,...,0.076 facilities/km distance (81%ile),83%ile,0.087 facilities/km distance (24%ile),66%ile,1 facilities/km distance (69%ile),78%ile,NaN,NaN,6506.804784,1.793332e+06
4,5,10010203001,Alabama,AL,4,2641,-769.374640,5,48.0,-2911.892606,...,0.074 facilities/km distance (80%ile),32%ile,0.08 facilities/km distance (21%ile),51%ile,1.2 facilities/km distance (74%ile),24%ile,NaN,NaN,11070.367848,5.461602e+06

In [12]:
# Create a subset of the data where the 'STATE_NAME' is 'California'
california_data = EPA_data[EPA_data['STATE_NAME'] == "California"]

# Display the first 5 rows of the new DataFrame to verify the subset
california_data

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area
10297,10298,60014001001,California,CA,9,3115,-4712.451449,1,2.0,-12248.845991,...,0.12 facilities/km distance (63%ile),1%ile,0.18 facilities/km distance (18%ile),12%ile,5.1 facilities/km distance (53%ile),2%ile,NaN,NaN,18116.601501,1.108122e+07
10298,10299,60014002001,California,CA,9,1037,-2041.557940,2,13.0,-5172.691994,...,0.15 facilities/km distance (73%ile),5%ile,0.24 facilities/km distance (28%ile),17%ile,10 facilities/km distance (77%ile),3%ile,NaN,NaN,3776.257571,4.627947e+05
10299,10300,60014002002,California,CA,9,988,-1417.881139,2,18.0,-3592.483109,...,0.16 facilities/km distance (75%ile),8%ile,0.24 facilities/km distance (29%ile),21%ile,11 facilities/km distance (80%ile),5%ile,NaN,NaN,4019.010837,4.794874e+05
10300,10301,60014003001,California,CA,9,1137,-2712.806091,1,8.0,-6829.423860,...,0.17 facilities/km distance (76%ile),2%ile,0.23 facilities/km distance (27%ile),15%ile,11 facilities/km distance (80%ile),1%ile,NaN,NaN,3231.259100,4.267776e+05
10301,10302,60014003002,California,CA,9,1404,-2473.036231,2,10.0,-6225.809024,...,0.19 facilities/km distance (81%ile),2%ile,0.36 facilities/km distance (38%ile),11%ile,15 facilities/km distance (90%ile),1%ile,NaN,NaN,4482.836688,4.325698e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33504,33505,61150410005,California,CA,9,503,-74.097492,4,32.0,-504.525057,...,0.043 facilities/km distance (24%ile),32%ile,0.22 facilities/km distance (26%ile),31%ile,0.099 facilities/km distance (3%ile),32%ile,0.00016 toxicity-weighted concentration/meters...,13%ile,102608.401244,2.521725e+08
33505,33506,61150411001,California,CA,9,821,-999.000382,3,23.0,-7827.941316,...,0.037 facilities/km distance (20%ile),22%ile,0.048 facilities/km distance (1%ile),30%ile,0.044 facilities/km distance (1%ile),31%ile,0.000000016 toxicity-weighted concentration/me...,14%ile,152152.592535,5.291526e+08
33506,33507,61150411002,California,CA,9,1422,-965.469687,3,23.0,-7565.202365,...,0.037 facilities/km distance (21%ile),23%ile,0.073 facilities/km distance (3%ile),28%ile,0.044 facilities/km distance (1%ile),31%ile,0.0000000048 toxicity-weighted concentration/m...,14%ile,85751.913526,1.586637e+08
33507,33508,61150411003,California,CA,9,1144,-135.613259,4,31.0,-1062.634864,...,0.037 facilities/km distance (20%ile),31%ile,0.056 facilities/km distance (1%ile),32%ile,0.04 facilities/km distance (1%ile),32%ile,NaN,NaN,61528.275564,1.417625e+08
33508,33509,61150411004,California,CA,9,1060,-246.149987,4,30.0,-1928.775690,...,0.044 facilities/km distance (25%ile),29%ile,0.065 facilities/km distance (2%ile),31%ile,0.046 facilities/km distance (1%ile),32%ile,NaN,NaN,74692.295567,1.383512e+08

In [11]:
add_zero_1 = "0"  # California state code is 06

# Add leading zeros to the FULLCODE column  as needed
california_data['ID'] = california_data['ID'].astype(str).str.zfill(10)

# Concatenate state code to the FULLCODE column to create 11-digit FIPS code
california_data['COMPLETE_ID'] = add_zero_1 + california_data['ID']

# Display the DataFrame with the new FIPS_11 column
california_data

C:\Users\Student\AppData\Local\Temp\ipykernel_21560\3207286356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_data['ID'] = california_data['ID'].astype(str).str.zfill(10)
C:\Users\Student\AppData\Local\Temp\ipykernel_21560\3207286356.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_data['COMPLETE_ID'] = add_zero_1 + california_data['ID']

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area,COMPLETE_ID
10297,10298,60014001001,California,CA,9,3115,-4712.451449,1,2.0,-12248.845991,...,1%ile,0.18 facilities/km distance (18%ile),12%ile,5.1 facilities/km distance (53%ile),2%ile,NaN,NaN,18116.601501,1.108122e+07,060014001001
10298,10299,60014002001,California,CA,9,1037,-2041.557940,2,13.0,-5172.691994,...,5%ile,0.24 facilities/km distance (28%ile),17%ile,10 facilities/km distance (77%ile),3%ile,NaN,NaN,3776.257571,4.627947e+05,060014002001
10299,10300,60014002002,California,CA,9,988,-1417.881139,2,18.0,-3592.483109,...,8%ile,0.24 facilities/km distance (29%ile),21%ile,11 facilities/km distance (80%ile),5%ile,NaN,NaN,4019.010837,4.794874e+05,060014002002
10300,10301,60014003001,California,CA,9,1137,-2712.806091,1,8.0,-6829.423860,...,2%ile,0.23 facilities/km distance (27%ile),15%ile,11 facilities/km distance (80%ile),1%ile,NaN,NaN,3231.259100,4.267776e+05,060014003001
10301,10302,60014003002,California,CA,9,1404,-2473.036231,2,10.0,-6225.809024,...,2%ile,0.36 facilities/km distance (38%ile),11%ile,15 facilities/km distance (90%ile),1%ile,NaN,NaN,4482.836688,4.325698e+05,060014003002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33504,33505,61150410005,California,CA,9,503,-74.097492,4,32.0,-504.525057,...,32%ile,0.22 facilities/km distance (26%ile),31%ile,0.099 facilities/km distance (3%ile),32%ile,0.00016 toxicity-weighted concentration/meters...,13%ile,102608.401244,2.521725e+08,061150410005
33505,33506,61150411001,California,CA,9,821,-999.000382,3,23.0,-7827.941316,...,22%ile,0.048 facilities/km distance (1%ile),30%ile,0.044 facilities/km distance (1%ile),31%ile,0.000000016 toxicity-weighted concentration/me...,14%ile,152152.592535,5.291526e+08,061150411001
33506,33507,61150411002,California,CA,9,1422,-965.469687,3,23.0,-7565.202365,...,23%ile,0.073 facilities/km distance (3%ile),28%ile,0.044 facilities/km distance (1%ile),31%ile,0.0000000048 toxicity-weighted concentration/m...,14%ile,85751.913526,1.586637e+08,061150411002
33507,33508,61150411003,California,CA,9,1144,-135.613259,4,31.0,-1062.634864,...,31%ile,0.056 facilities/km distance (1%ile),32%ile,0.04 facilities/km distance (1%ile),32%ile,NaN,NaN,61528.275564,1.417625e+08,061150411003
33508,33509,61150411004,California,CA,9,1060,-246.149987,4,30.0,-1928.775690,...,29%ile,0.065 facilities/km distance (2%ile),31%ile,0.046 facilities/km distance (1%ile),32%ile,NaN,NaN,74692.295567,1.383512e+08,061150411004

In [14]:
# Create a new column 'Truncated_ID' that retains only the first 11 digits of each 'COMPLETE_ID'
california_data['Truncated_ID'] = california_data['COMPLETE_ID'].astype(str).str[:11]

# Display the first few values of the new column to verify the truncation
print(california_data['Truncated_ID'].head(5))

10297    06001400100
10298    06001400200
10299    06001400200
10300    06001400300
10301    06001400300
Name: Truncated_ID, dtype: object

C:\Users\Student\AppData\Local\Temp\ipykernel_15212\690386827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_data['Truncated_ID'] = california_data['COMPLETE_ID'].astype(str).str[:11]

In [15]:
# Remove duplicate rows based on 'Truncated_ID' and keep the first occurrence
california_data = california_data.drop_duplicates(subset=['Truncated_ID'], keep='first')

# Display the DataFrame to verify that duplicates have been removed
california_data.head()

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area,COMPLETE_ID,Truncated_ID
10297,10298,60014001001,California,CA,9,3115,-4712.451449,1,2.0,-12248.845991,...,0.18 facilities/km distance (18%ile),12%ile,5.1 facilities/km distance (53%ile),2%ile,NaN,NaN,18116.601501,1.108122e+07,060014001001,06001400100
10298,10299,60014002001,California,CA,9,1037,-2041.557940,2,13.0,-5172.691994,...,0.24 facilities/km distance (28%ile),17%ile,10 facilities/km distance (77%ile),3%ile,NaN,NaN,3776.257571,4.627947e+05,060014002001,06001400200
10300,10301,60014003001,California,CA,9,1137,-2712.806091,1,8.0,-6829.423860,...,0.23 facilities/km distance (27%ile),15%ile,11 facilities/km distance (80%ile),1%ile,NaN,NaN,3231.259100,4.267776e+05,060014003001,06001400300
10304,10305,60014004001,California,CA,9,1676,-1604.366712,2,17.0,-4030.978631,...,0.27 facilities/km distance (32%ile),18%ile,12 facilities/km distance (83%ile),4%ile,NaN,NaN,3225.166705,4.286902e+05,060014004001,06001400400
10307,10308,60014005001,California,CA,9,2546,580.352112,4,37.0,1449.389398,...,0.33 facilities/km distance (36%ile),37%ile,13 facilities/km distance (86%ile),49%ile,NaN,NaN,3335.467799,5.827199e+05,060014005001,06001400500

In [16]:
# Count how many 'FIPS_COMPLETE_CODE' in 'master_file' are present in 'Truncated ID' of 'EPA_data'
matches_count_2 = master_file2['FIPS_COMPLETE_CODE'].isin(california_data['Truncated_ID']).sum()

# Print the count of matching FIPS codes
print(f"Number of matching FIPS codes: {matches_count_2}")

Number of matching FIPS codes: 6881

In [17]:
# Create a new DataFrame from 'master_file2' containing only the 'FIPS_COMPLETE_CODE' column
dataframe_1 = master_file2[['FIPS_COMPLETE_CODE']].copy()

# Display the new DataFrame to verify the correct column is retained
print(dataframe_1.head())

  FIPS_COMPLETE_CODE
0        06001400100
1        06001400200
2        06001400300
3        06001400400
4        06001400500

In [18]:
# List of columns to retain from the CDC dataset
columns_to_keep = [
    'Extracted_Code', 'DP05_0001E', 'DP05_0002E', 'DP05_0003E', 'DP05_0005E', 'DP05_0006E', 'DP05_0007E', 
    'DP05_0008E', 'DP05_0009E', 'DP05_0010E', 'DP05_0011E', 'DP05_0012E', 'DP05_0013E', 
    'DP05_0014E', 'DP05_0015E', 'DP05_0016E', 'DP05_0017E', 'DP05_0033E', 'DP05_0037E', 
    'DP05_0038E', 'DP05_0039E', 'DP05_0040E', 'DP05_0041E', 'DP05_0042E', 'DP05_0043E', 
    'DP05_0044E', 'DP05_0045E', 'DP05_0046E', 'DP05_0047E', 'DP05_0048E', 'DP05_0049E', 
    'DP05_0050E', 'DP05_0051E', 'DP05_0052E', 'DP05_0071E', 'DP05_0076E'
]

# Create a new DataFrame with only the specified columns
dataframe_2 = CDC_data[columns_to_keep].copy()

# Display the new DataFrame to verify the columns are retained
dataframe_2.head()

,Extracted_Code,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,DP05_0010E,...,DP05_0045E,DP05_0046E,DP05_0047E,DP05_0048E,DP05_0049E,DP05_0050E,DP05_0051E,DP05_0052E,DP05_0071E,DP05_0076E
0,Geography,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,Estimate!!SEX AND AGE!!Total population!!20 to...,Estimate!!SEX AND AGE!!Total population!!25 to...,...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!As...,Estimate!!RACE!!Total population!!One race!!Na...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1,0400000US06,39346023,19562882,19783141,2409082,2431647,2597443,2548072,2694636,6007913,...,810043,1600362,1281691,264054,470978,677507,729677,149636,15380929,23965094
2,06001400100,3035,1562,1473,148,107,238,96,34,328,...,84,157,0,26,29,37,91,0,125,2910
3,06001400200,1983,996,987,121,76,100,39,42,463,...,0,77,22,9,37,13,61,0,163,1820
4,06001400300,5058,2441,2617,150,451,99,243,91,1163,...,341,224,64,55,34,0,55,34,463,4595

## Merge dataframe_1 (US census FIPS code file) and dataframe_2 (CDC dataset with desired dempgraphic variables)

#### Mergred based on the FIPS codes

In [19]:
merged_dataframe = pd.merge(dataframe_1, dataframe_2, left_on='FIPS_COMPLETE_CODE', right_on='Extracted_Code', how='inner')

# Display the merged DataFrame to verify the results
merged_dataframe.head()
len(merged_dataframe)

9129

In [20]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count = merged_dataframe.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count)

FIPS_COMPLETE_CODE    0
Extracted_Code        0
DP05_0001E            0
DP05_0002E            0
DP05_0003E            0
DP05_0005E            0
DP05_0006E            0
DP05_0007E            0
DP05_0008E            0
DP05_0009E            0
DP05_0010E            0
DP05_0011E            0
DP05_0012E            0
DP05_0013E            0
DP05_0014E            0
DP05_0015E            0
DP05_0016E            0
DP05_0017E            0
DP05_0033E            0
DP05_0037E            0
DP05_0038E            0
DP05_0039E            0
DP05_0040E            0
DP05_0041E            0
DP05_0042E            0
DP05_0043E            0
DP05_0044E            0
DP05_0045E            0
DP05_0046E            0
DP05_0047E            0
DP05_0048E            0
DP05_0049E            0
DP05_0050E            0
DP05_0051E            0
DP05_0052E            0
DP05_0071E            0
DP05_0076E            0
dtype: int64

In [21]:
# Count full row duplicates in the final merged DataFrame
full_duplicate_counts = merged_dataframe.duplicated(keep=False).sum()

# Print the number of full duplicates
print("Number of fully duplicate rows:", full_duplicate_counts)

Number of fully duplicate rows: 0

In [22]:
# Save the merged DataFrame to a CSV file
merged_dataframe.to_csv("merged_dataset.csv", index=False)

# Confirmation message
print("The dataset has been successfully saved as 'merged_dataset.csv'.")

The dataset has been successfully saved as 'merged_dataset.csv'.

In [23]:
# Select only the desired columns
dataframe_3 = california_data[['Truncated_ID', 'RESP', 'CANCER', 'OZONE', 'PM25']].copy()

# Display the new DataFrame to verify the columns are retained
dataframe_3.head()
len(dataframe_3)

8057

In [24]:
# Calculate the number of matches between 'FIPS_COMPLETE_CODE' in merged_dataframe and 'Truncated_ID' in dataframe_3
matches_count = merged_dataframe['FIPS_COMPLETE_CODE'].isin(dataframe_3['Truncated_ID']).sum()

# Print the number of matches
print(f"Number of matches: {matches_count}")

Number of matches: 6881

## Merge dataframe_1 (US census FIPS code file) and dataframe_3 (EPA dataset with desired air quality variables)
### Mergred based on the FIPS codes

In [25]:
# Perform an inner join to merge on the matches and exclude non-matching rows
final_merged_data = pd.merge(merged_dataframe, dataframe_3, left_on='FIPS_COMPLETE_CODE', right_on='Truncated_ID', how='left')

# Display the merged DataFrame to verify the results
final_merged_data.head()

,FIPS_COMPLETE_CODE,Extracted_Code,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,...,DP05_0050E,DP05_0051E,DP05_0052E,DP05_0071E,DP05_0076E,Truncated_ID,RESP,CANCER,OZONE,PM25
0,06001400100,06001400100,3035,1562,1473,148,107,238,96,34,...,37,91,0,125,2910,06001400100,0.437041,26.496604,29.385423,11.305341
1,06001400200,06001400200,1983,996,987,121,76,100,39,42,...,13,61,0,163,1820,06001400200,0.477660,28.281955,28.530086,11.260254
2,06001400300,06001400300,5058,2441,2617,150,451,99,243,91,...,0,55,34,463,4595,06001400300,0.478842,28.593743,28.311229,11.245879
3,06001400400,06001400400,4179,1807,2372,282,206,276,153,105,...,78,54,0,473,3706,06001400400,0.474343,28.571811,28.259590,11.247578
4,06001400500,06001400500,4021,1827,2194,184,106,107,147,459,...,20,16,0,359,3662,06001400500,0.479876,28.781211,28.039771,11.227445

In [26]:
len(final_merged_data)

9129

In [27]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count_2 = final_merged_data.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_2)

FIPS_COMPLETE_CODE       0
Extracted_Code           0
DP05_0001E               0
DP05_0002E               0
DP05_0003E               0
DP05_0005E               0
DP05_0006E               0
DP05_0007E               0
DP05_0008E               0
DP05_0009E               0
DP05_0010E               0
DP05_0011E               0
DP05_0012E               0
DP05_0013E               0
DP05_0014E               0
DP05_0015E               0
DP05_0016E               0
DP05_0017E               0
DP05_0033E               0
DP05_0037E               0
DP05_0038E               0
DP05_0039E               0
DP05_0040E               0
DP05_0041E               0
DP05_0042E               0
DP05_0043E               0
DP05_0044E               0
DP05_0045E               0
DP05_0046E               0
DP05_0047E               0
DP05_0048E               0
DP05_0049E               0
DP05_0050E               0
DP05_0051E               0
DP05_0052E               0
DP05_0071E               0
DP05_0076E               0
Truncated_ID          2248
RESP                  2282
CANCER                2282
OZONE                 2265
PM25                  2265
dtype: int64

## Individual Datasets from CDC/National Environmental Public Health Tracking Network
### Variables related to health risk behaviors like smoking, drinking, physical inactivity etc

In [13]:
Alcohol_value_data = pd.read_csv("Crude Prevalence of Binge Drinking among Adults less than equal to 18 Years .csv")

Alcohol_value_data

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,15.1%,NaN,(14.7% - 15.5%),14.7%,15.5%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,18.6%,NaN,(18.0% - 19.3%),18.0%,19.3%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,19.3%,NaN,(18.6% - 19.9%),18.6%,19.9%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,19.9%,NaN,(19.3% - 20.4%),19.3%,20.4%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,19.6%,NaN,(18.9% - 20.2%),18.9%,20.2%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,20.0%,NaN,(19.4% - 20.7%),19.4%,20.7%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,16.9%,NaN,(16.6% - 17.2%),16.6%,17.2%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,28.4%,NaN,(27.0% - 29.8%),27.0%,29.8%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,17.8%,NaN,(17.4% - 18.2%),17.4%,18.2%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,16.5%,NaN,(16.3% - 16.8%),16.3%,16.8%,NaN

In [29]:

# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Alcohol_value_data['complete_census_tract'] = '0' + Alcohol_value_data['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Alcohol_value_data.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,15.1%,NaN,(14.7% - 15.5%),14.7%,15.5%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,18.6%,NaN,(18.0% - 19.3%),18.0%,19.3%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,19.3%,NaN,(18.6% - 19.9%),18.6%,19.9%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,19.9%,NaN,(19.3% - 20.4%),19.3%,20.4%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,19.6%,NaN,(18.9% - 20.2%),18.9%,20.2%,NaN,06001400500

In [30]:
# Rename the 'Value' column to 'Alcohol'
Alcohol_value_data.rename(columns={'Value': 'Alcohol'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Alcohol_value_data.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Alcohol,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,15.1%,NaN,(14.7% - 15.5%),14.7%,15.5%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,18.6%,NaN,(18.0% - 19.3%),18.0%,19.3%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,19.3%,NaN,(18.6% - 19.9%),18.6%,19.9%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,19.9%,NaN,(19.3% - 20.4%),19.3%,20.4%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,19.6%,NaN,(18.9% - 20.2%),18.9%,20.2%,NaN,06001400500

In [31]:
# Count how many 'FIPS_COMPLETE_CODE' in 'master_file' are present in 'Extracted_Code' of 'CDC_data'
matches_count_3 = master_file2['FIPS_COMPLETE_CODE'].isin(Alcohol_value_data['complete_census_tract']).sum()

# Print the count of matching FIPS codes
print(f"Number of matching FIPS codes: {matches_count_3}")

Number of matching FIPS codes: 6881

In [32]:


# Step 1: Retain only the 'complete_census_tract' and 'Alcohol' columns in Alcohol_value_data
Alcohol_value_data = Alcohol_value_data[['complete_census_tract', 'Alcohol']]

# Step 2: Merge the refined Alcohol_value_data with final_merged_data
second_final_merged_data = pd.merge(final_merged_data, Alcohol_value_data, left_on='FIPS_COMPLETE_CODE', right_on='complete_census_tract', how='left')

# Step 3: Display the first few rows of the new DataFrame to verify the merge
second_final_merged_data.head()

,FIPS_COMPLETE_CODE,Extracted_Code,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,...,DP05_0052E,DP05_0071E,DP05_0076E,Truncated_ID,RESP,CANCER,OZONE,PM25,complete_census_tract,Alcohol
0,06001400100,06001400100,3035,1562,1473,148,107,238,96,34,...,0,125,2910,06001400100,0.437041,26.496604,29.385423,11.305341,06001400100,15.1%
1,06001400200,06001400200,1983,996,987,121,76,100,39,42,...,0,163,1820,06001400200,0.477660,28.281955,28.530086,11.260254,06001400200,18.6%
2,06001400300,06001400300,5058,2441,2617,150,451,99,243,91,...,34,463,4595,06001400300,0.478842,28.593743,28.311229,11.245879,06001400300,19.3%
3,06001400400,06001400400,4179,1807,2372,282,206,276,153,105,...,0,473,3706,06001400400,0.474343,28.571811,28.259590,11.247578,06001400400,19.9%
4,06001400500,06001400500,4021,1827,2194,184,106,107,147,459,...,0,359,3662,06001400500,0.479876,28.781211,28.039771,11.227445,06001400500,19.6%

In [33]:
# Drop the specified columns from second_final_merged_data
second_final_data = second_final_merged_data.drop(columns=['Extracted_Code', 'complete_census_tract', 'Truncated_ID'])

# Display the first few rows to verify the changes
second_final_data.head()

,FIPS_COMPLETE_CODE,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,DP05_0010E,...,DP05_0050E,DP05_0051E,DP05_0052E,DP05_0071E,DP05_0076E,RESP,CANCER,OZONE,PM25,Alcohol
0,06001400100,3035,1562,1473,148,107,238,96,34,328,...,37,91,0,125,2910,0.437041,26.496604,29.385423,11.305341,15.1%
1,06001400200,1983,996,987,121,76,100,39,42,463,...,13,61,0,163,1820,0.477660,28.281955,28.530086,11.260254,18.6%
2,06001400300,5058,2441,2617,150,451,99,243,91,1163,...,0,55,34,463,4595,0.478842,28.593743,28.311229,11.245879,19.3%
3,06001400400,4179,1807,2372,282,206,276,153,105,1058,...,78,54,0,473,3706,0.474343,28.571811,28.259590,11.247578,19.9%
4,06001400500,4021,1827,2194,184,106,107,147,459,840,...,20,16,0,359,3662,0.479876,28.781211,28.039771,11.227445,19.6%

In [34]:
len(second_final_data)

9129

In [35]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count_3 = second_final_data.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_3)

FIPS_COMPLETE_CODE       0
DP05_0001E               0
DP05_0002E               0
DP05_0003E               0
DP05_0005E               0
DP05_0006E               0
DP05_0007E               0
DP05_0008E               0
DP05_0009E               0
DP05_0010E               0
DP05_0011E               0
DP05_0012E               0
DP05_0013E               0
DP05_0014E               0
DP05_0015E               0
DP05_0016E               0
DP05_0017E               0
DP05_0033E               0
DP05_0037E               0
DP05_0038E               0
DP05_0039E               0
DP05_0040E               0
DP05_0041E               0
DP05_0042E               0
DP05_0043E               0
DP05_0044E               0
DP05_0045E               0
DP05_0046E               0
DP05_0047E               0
DP05_0048E               0
DP05_0049E               0
DP05_0050E               0
DP05_0051E               0
DP05_0052E               0
DP05_0071E               0
DP05_0076E               0
RESP                  2282
CANCER                2282
OZONE                 2265
PM25                  2265
Alcohol               2248
dtype: int64

In [36]:
Smoking_data = pd.read_csv("Crude Prevalence of Current Smoking among Adults greater than equal to 18 years.csv")
Smoking_data.head()

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,6.2%,NaN,(5.1% - 7.6%),5.1%,7.6%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,6.2%,NaN,(5.1% - 7.7%),5.1%,7.7%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,8.4%,NaN,(6.7% - 10.6%),6.7%,10.6%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,8.4%,NaN,(6.9% - 10.2%),6.9%,10.2%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,10.0%,NaN,(8.1% - 12.5%),8.1%,12.5%,NaN

In [37]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Smoking_data['complete_census_tract'] = '0' + Smoking_data['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Smoking_data.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,6.2%,NaN,(5.1% - 7.6%),5.1%,7.6%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,6.2%,NaN,(5.1% - 7.7%),5.1%,7.7%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,8.4%,NaN,(6.7% - 10.6%),6.7%,10.6%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,8.4%,NaN,(6.9% - 10.2%),6.9%,10.2%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,10.0%,NaN,(8.1% - 12.5%),8.1%,12.5%,NaN,06001400500

In [38]:
# Rename the 'Value' column to 'smoking'
Smoking_data.rename(columns={'Value': 'Smoking'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Smoking_data.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Smoking,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,6.2%,NaN,(5.1% - 7.6%),5.1%,7.6%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,6.2%,NaN,(5.1% - 7.7%),5.1%,7.7%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,8.4%,NaN,(6.7% - 10.6%),6.7%,10.6%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,8.4%,NaN,(6.9% - 10.2%),6.9%,10.2%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,10.0%,NaN,(8.1% - 12.5%),8.1%,12.5%,NaN,06001400500

In [39]:
# Step 1: Retain only the 'complete_census_tract' and 'Smoking'
Smoking_data = Smoking_data[['complete_census_tract', 'Smoking']]
Smoking_data

     complete_census_tract Smoking
0              06001400100    6.2%
1              06001400200    6.2%
2              06001400300    8.4%
3              06001400400    8.4%
4              06001400500   10.0%
...                    ...     ...
8053           06115040800   13.3%
8054           06115040901   16.4%
8055           06115040902   11.6%
8056           06115041000   12.4%
8057           06115041100   16.0%

[8058 rows x 2 columns]

In [40]:
Depression_rates = pd.read_csv("Crude Prevalence of Depression Among Adults greater than equal to 18 yrs.csv")
Depression_rates

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,13.7%,NaN,(13.1% - 14.4%),13.1%,14.4%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,15.3%,NaN,(14.6% - 16.0%),14.6%,16.0%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,16.3%,NaN,(15.5% - 17.3%),15.5%,17.3%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,16.7%,NaN,(16.0% - 17.6%),16.0%,17.6%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,16.4%,NaN,(15.6% - 17.4%),15.6%,17.4%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,19.3%,NaN,(18.3% - 20.4%),18.3%,20.4%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,19.9%,NaN,(19.2% - 20.6%),19.2%,20.6%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,20.3%,NaN,(18.8% - 21.8%),18.8%,21.8%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,18.5%,NaN,(17.7% - 19.3%),17.7%,19.3%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,19.8%,NaN,(19.3% - 20.4%),19.3%,20.4%,NaN

In [41]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Depression_rates['complete_census_tract'] = '0' + Depression_rates['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Depression_rates.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,13.7%,NaN,(13.1% - 14.4%),13.1%,14.4%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,15.3%,NaN,(14.6% - 16.0%),14.6%,16.0%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,16.3%,NaN,(15.5% - 17.3%),15.5%,17.3%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,16.7%,NaN,(16.0% - 17.6%),16.0%,17.6%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,16.4%,NaN,(15.6% - 17.4%),15.6%,17.4%,NaN,06001400500

In [42]:
# Rename the 'Value' column to 'Depression'
Depression_rates.rename(columns={'Value': 'Depression'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Depression_rates.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Depression,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,13.7%,NaN,(13.1% - 14.4%),13.1%,14.4%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,15.3%,NaN,(14.6% - 16.0%),14.6%,16.0%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,16.3%,NaN,(15.5% - 17.3%),15.5%,17.3%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,16.7%,NaN,(16.0% - 17.6%),16.0%,17.6%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,16.4%,NaN,(15.6% - 17.4%),15.6%,17.4%,NaN,06001400500

In [43]:

# Step 1: Retain only the 'complete_census_tract' and 'depression' 
Depression_rates = Depression_rates[['complete_census_tract', 'Depression']]
Depression_rates

     complete_census_tract Depression
0              06001400100      13.7%
1              06001400200      15.3%
2              06001400300      16.3%
3              06001400400      16.7%
4              06001400500      16.4%
...                    ...        ...
8053           06115040800      19.3%
8054           06115040901      19.9%
8055           06115040902      20.3%
8056           06115041000      18.5%
8057           06115041100      19.8%

[8058 rows x 2 columns]

In [44]:
Doctor_visits = pd.read_csv("Crude Prevalence of Doctor visits for Routine Checkup Within the Past Year among Adults greater than equal to 18 yrs.csv")
Doctor_visits

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,70.2%,NaN,(69.5% - 70.8%),69.5%,70.8%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,66.1%,NaN,(65.2% - 67.1%),65.2%,67.1%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,64.7%,NaN,(63.7% - 65.5%),63.7%,65.5%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,63.9%,NaN,(63.1% - 64.6%),63.1%,64.6%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,64.4%,NaN,(63.5% - 65.3%),63.5%,65.3%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,65.9%,NaN,(64.7% - 67.0%),64.7%,67.0%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,68.5%,NaN,(67.8% - 69.2%),67.8%,69.2%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,57.3%,NaN,(55.1% - 59.6%),55.1%,59.6%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,69.5%,NaN,(68.7% - 70.3%),68.7%,70.3%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,70.4%,NaN,(69.8% - 71.0%),69.8%,71.0%,NaN

In [45]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Doctor_visits['complete_census_tract'] = '0' + Doctor_visits['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Doctor_visits.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,70.2%,NaN,(69.5% - 70.8%),69.5%,70.8%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,66.1%,NaN,(65.2% - 67.1%),65.2%,67.1%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,64.7%,NaN,(63.7% - 65.5%),63.7%,65.5%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,63.9%,NaN,(63.1% - 64.6%),63.1%,64.6%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,64.4%,NaN,(63.5% - 65.3%),63.5%,65.3%,NaN,06001400500

In [46]:
# Rename the 'Value' column to 'No. of doctor visits'
Doctor_visits.rename(columns={'Value': 'No. of doctor visits'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Doctor_visits.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,No. of doctor visits,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,70.2%,NaN,(69.5% - 70.8%),69.5%,70.8%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,66.1%,NaN,(65.2% - 67.1%),65.2%,67.1%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,64.7%,NaN,(63.7% - 65.5%),63.7%,65.5%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,63.9%,NaN,(63.1% - 64.6%),63.1%,64.6%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,64.4%,NaN,(63.5% - 65.3%),63.5%,65.3%,NaN,06001400500

In [47]:
# Step 1: Retain only the 'complete_census_tract' and ''No. of doctor visits' 
Doctor_visits = Doctor_visits[['complete_census_tract', 'No. of doctor visits']]
Doctor_visits

     complete_census_tract No. of doctor visits
0              06001400100                70.2%
1              06001400200                66.1%
2              06001400300                64.7%
3              06001400400                63.9%
4              06001400500                64.4%
...                    ...                  ...
8053           06115040800                65.9%
8054           06115040901                68.5%
8055           06115040902                57.3%
8056           06115041000                69.5%
8057           06115041100                70.4%

[8058 rows x 2 columns]

In [48]:
Obesity = pd.read_csv("Crude Prevalence of Obesity among Adults greater than equal to 1 years.csv")
Obesity

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,22.0%,NaN,(21.2% - 23.0%),21.2%,23.0%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,22.7%,NaN,(21.5% - 23.9%),21.5%,23.9%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,24.4%,NaN,(23.3% - 25.6%),23.3%,25.6%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,24.7%,NaN,(23.8% - 25.7%),23.8%,25.7%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,27.2%,NaN,(26.0% - 28.5%),26.0%,28.5%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,31.2%,NaN,(29.7% - 32.5%),29.7%,32.5%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,34.7%,NaN,(33.8% - 35.7%),33.8%,35.7%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,27.0%,NaN,(24.8% - 29.1%),24.8%,29.1%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,32.2%,NaN,(30.8% - 33.4%),30.8%,33.4%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,34.6%,NaN,(33.7% - 35.4%),33.7%,35.4%,NaN

In [49]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits
Obesity['complete_census_tract'] = '0' + Obesity['CensusTract'].astype(str)

# Display the first 5 rows to verify changes 
Obesity.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,22.0%,NaN,(21.2% - 23.0%),21.2%,23.0%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,22.7%,NaN,(21.5% - 23.9%),21.5%,23.9%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,24.4%,NaN,(23.3% - 25.6%),23.3%,25.6%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,24.7%,NaN,(23.8% - 25.7%),23.8%,25.7%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,27.2%,NaN,(26.0% - 28.5%),26.0%,28.5%,NaN,06001400500

In [50]:
# Rename the 'Value' column to 'obesity'
Obesity.rename(columns={'Value': 'Obesity'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Obesity.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Obesity,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,22.0%,NaN,(21.2% - 23.0%),21.2%,23.0%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,22.7%,NaN,(21.5% - 23.9%),21.5%,23.9%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,24.4%,NaN,(23.3% - 25.6%),23.3%,25.6%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,24.7%,NaN,(23.8% - 25.7%),23.8%,25.7%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,27.2%,NaN,(26.0% - 28.5%),26.0%,28.5%,NaN,06001400500

In [51]:

# Step 1: Retain only the 'complete_census_tract' and 'Alcohol' columns in Alcohol_value_data
Obesity = Obesity[['complete_census_tract', 'Obesity']]
Obesity

     complete_census_tract Obesity
0              06001400100   22.0%
1              06001400200   22.7%
2              06001400300   24.4%
3              06001400400   24.7%
4              06001400500   27.2%
...                    ...     ...
8053           06115040800   31.2%
8054           06115040901   34.7%
8055           06115040902   27.0%
8056           06115041000   32.2%
8057           06115041100   34.6%

[8058 rows x 2 columns]

In [52]:
sleep_deprived = pd.read_csv("Crude Prevalence of Sleep Less Than 7 Hours among Adults greater than or equal to 18 yrs.csv")
sleep_deprived

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,24.2%,NaN,(23.4% - 25.2%),23.4%,25.2%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,24.5%,NaN,(23.4% - 25.7%),23.4%,25.7%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,27.2%,NaN,(26.1% - 28.5%),26.1%,28.5%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,27.3%,NaN,(26.3% - 28.4%),26.3%,28.4%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,29.7%,NaN,(28.4% - 31.1%),28.4%,31.1%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,32.8%,NaN,(31.4% - 34.1%),31.4%,34.1%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,34.4%,NaN,(33.5% - 35.2%),33.5%,35.2%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,33.3%,NaN,(30.8% - 35.5%),30.8%,35.5%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,31.5%,NaN,(30.2% - 32.6%),30.2%,32.6%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,32.7%,NaN,(31.9% - 33.5%),31.9%,33.5%,NaN

In [53]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
sleep_deprived['complete_census_tract'] = '0' + sleep_deprived['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
sleep_deprived.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,24.2%,NaN,(23.4% - 25.2%),23.4%,25.2%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,24.5%,NaN,(23.4% - 25.7%),23.4%,25.7%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,27.2%,NaN,(26.1% - 28.5%),26.1%,28.5%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,27.3%,NaN,(26.3% - 28.4%),26.3%,28.4%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,29.7%,NaN,(28.4% - 31.1%),28.4%,31.1%,NaN,06001400500

In [54]:
# Rename the 'Value' column to 'sleep_depriveds'
sleep_deprived.rename(columns={'Value': 'sleep_deprived'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
sleep_deprived.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,sleep_deprived,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,24.2%,NaN,(23.4% - 25.2%),23.4%,25.2%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,24.5%,NaN,(23.4% - 25.7%),23.4%,25.7%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,27.2%,NaN,(26.1% - 28.5%),26.1%,28.5%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,27.3%,NaN,(26.3% - 28.4%),26.3%,28.4%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,29.7%,NaN,(28.4% - 31.1%),28.4%,31.1%,NaN,06001400500

In [55]:

# Step 1: Retain only the 'complete_census_tract' and 'Alcohol' columns in Alcohol_value_data
sleep_deprived = sleep_deprived[['complete_census_tract', 'sleep_deprived']]
sleep_deprived

     complete_census_tract sleep_deprived
0              06001400100          24.2%
1              06001400200          24.5%
2              06001400300          27.2%
3              06001400400          27.3%
4              06001400500          29.7%
...                    ...            ...
8053           06115040800          32.8%
8054           06115040901          34.4%
8055           06115040902          33.3%
8056           06115041000          31.5%
8057           06115041100          32.7%

[8058 rows x 2 columns]

## Retaining only the necessary columns form the individual datasets

### Merge dataframe_1 (US census FIPS code file) and all the individual datasets acquired from CDC/NEPHTN for health risk behaviour variables like (smoking, drinking, obesity, sleep deprived etc)

In [56]:


# Ensure each dataset has only the required columns
Smoking_data = Smoking_data[['complete_census_tract', 'Smoking']]
Depression_rates = Depression_rates[['complete_census_tract', 'Depression']]
Doctor_visits = Doctor_visits[['complete_census_tract', 'No. of doctor visits']]
Obesity = Obesity[['complete_census_tract', 'Obesity']]
sleep_deprived = sleep_deprived[['complete_census_tract', 'sleep_deprived']]

# Start merging with master_file2
third_final_merge_data = pd.merge(master_file2, Smoking_data, left_on='FIPS_COMPLETE_CODE', right_on='complete_census_tract', how='left')
third_final_merge_data = pd.merge(third_final_merge_data, Depression_rates, on='complete_census_tract', how='left')
third_final_merge_data = pd.merge(third_final_merge_data, Doctor_visits, on='complete_census_tract', how='left')
third_final_merge_data = pd.merge(third_final_merge_data, Obesity, on='complete_census_tract', how='left')
third_final_merge_data = pd.merge(third_final_merge_data, sleep_deprived, on='complete_census_tract', how='left')

# Display the first few rows to verify the final merged data
third_final_merge_data.head()

,TYPE,FULLCODE,STATE,COUNTY,TRACT,SHEETS,FIPS_COMPLETE_CODE,complete_census_tract,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived
0,TRACT,6001400100,6,1,4001.0,1,06001400100,06001400100,6.2%,13.7%,70.2%,22.0%,24.2%
1,TRACT,6001400200,6,1,4002.0,1,06001400200,06001400200,6.2%,15.3%,66.1%,22.7%,24.5%
2,TRACT,6001400300,6,1,4003.0,1,06001400300,06001400300,8.4%,16.3%,64.7%,24.4%,27.2%
3,TRACT,6001400400,6,1,4004.0,1,06001400400,06001400400,8.4%,16.7%,63.9%,24.7%,27.3%
4,TRACT,6001400500,6,1,4005.0,1,06001400500,06001400500,10.0%,16.4%,64.4%,27.2%,29.7%

In [57]:
columns_to_keep = ['FIPS_COMPLETE_CODE', 'Smoking', 'Depression', 'No. of doctor visits', 'Obesity', 'sleep_deprived']
third_final_data = third_final_merge_data[columns_to_keep]

# Display the first few rows to verify the selected columns
third_final_data

,FIPS_COMPLETE_CODE,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived
0,06001400100,6.2%,13.7%,70.2%,22.0%,24.2%
1,06001400200,6.2%,15.3%,66.1%,22.7%,24.5%
2,06001400300,8.4%,16.3%,64.7%,24.4%,27.2%
3,06001400400,8.4%,16.7%,63.9%,24.7%,27.3%
4,06001400500,10.0%,16.4%,64.4%,27.2%,29.7%
...,...,...,...,...,...,...
9124,06115040902,11.6%,20.3%,57.3%,27.0%,33.3%
9125,06115041001,NaN,NaN,NaN,NaN,NaN
9126,06115041002,NaN,NaN,NaN,NaN,NaN
9127,06115041101,NaN,NaN,NaN,NaN,NaN
9128,06115041102,NaN,NaN,NaN,NaN,NaN

In [58]:
# Merge second_final_merged_data and third_final_merge_data based on 'FIPS_COMPLETE_CODE'
final_data_1 = pd.merge(second_final_merged_data, third_final_merge_data, on='FIPS_COMPLETE_CODE', how='outer')

# Display the first few rows to verify the merged DataFrame
final_data_1.head()

,FIPS_COMPLETE_CODE,Extracted_Code,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,...,STATE,COUNTY,TRACT,SHEETS,complete_census_tract_y,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived
0,06001400100,06001400100,3035,1562,1473,148,107,238,96,34,...,6,1,4001.0,1,06001400100,6.2%,13.7%,70.2%,22.0%,24.2%
1,06001400200,06001400200,1983,996,987,121,76,100,39,42,...,6,1,4002.0,1,06001400200,6.2%,15.3%,66.1%,22.7%,24.5%
2,06001400300,06001400300,5058,2441,2617,150,451,99,243,91,...,6,1,4003.0,1,06001400300,8.4%,16.3%,64.7%,24.4%,27.2%
3,06001400400,06001400400,4179,1807,2372,282,206,276,153,105,...,6,1,4004.0,1,06001400400,8.4%,16.7%,63.9%,24.7%,27.3%
4,06001400500,06001400500,4021,1827,2194,184,106,107,147,459,...,6,1,4005.0,1,06001400500,10.0%,16.4%,64.4%,27.2%,29.7%

In [59]:
# Extend the list of columns to drop
columns_to_drop = [
    'Extracted_Code', 'Truncated_ID', 'complete_census_tract_x', 'complete_census_tract_y',
    'TYPE', 'FULLCODE', 'STATE', 'COUNTY', 'TRACT', 'SHEETS'
]

# Drop the specified columns from the DataFrame
final_data_1 = final_data_1.drop(columns=columns_to_drop)

# Display the first few rows to verify the changes
final_data_1.head()

,FIPS_COMPLETE_CODE,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,DP05_0010E,...,RESP,CANCER,OZONE,PM25,Alcohol,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived
0,06001400100,3035,1562,1473,148,107,238,96,34,328,...,0.437041,26.496604,29.385423,11.305341,15.1%,6.2%,13.7%,70.2%,22.0%,24.2%
1,06001400200,1983,996,987,121,76,100,39,42,463,...,0.477660,28.281955,28.530086,11.260254,18.6%,6.2%,15.3%,66.1%,22.7%,24.5%
2,06001400300,5058,2441,2617,150,451,99,243,91,1163,...,0.478842,28.593743,28.311229,11.245879,19.3%,8.4%,16.3%,64.7%,24.4%,27.2%
3,06001400400,4179,1807,2372,282,206,276,153,105,1058,...,0.474343,28.571811,28.259590,11.247578,19.9%,8.4%,16.7%,63.9%,24.7%,27.3%
4,06001400500,4021,1827,2194,184,106,107,147,459,840,...,0.479876,28.781211,28.039771,11.227445,19.6%,10.0%,16.4%,64.4%,27.2%,29.7%

In [60]:
len(final_data_1)

9129

In [61]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count_final_data_1 = final_data_1.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_final_data_1)

FIPS_COMPLETE_CODE         0
DP05_0001E                 0
DP05_0002E                 0
DP05_0003E                 0
DP05_0005E                 0
DP05_0006E                 0
DP05_0007E                 0
DP05_0008E                 0
DP05_0009E                 0
DP05_0010E                 0
DP05_0011E                 0
DP05_0012E                 0
DP05_0013E                 0
DP05_0014E                 0
DP05_0015E                 0
DP05_0016E                 0
DP05_0017E                 0
DP05_0033E                 0
DP05_0037E                 0
DP05_0038E                 0
DP05_0039E                 0
DP05_0040E                 0
DP05_0041E                 0
DP05_0042E                 0
DP05_0043E                 0
DP05_0044E                 0
DP05_0045E                 0
DP05_0046E                 0
DP05_0047E                 0
DP05_0048E                 0
DP05_0049E                 0
DP05_0050E                 0
DP05_0051E                 0
DP05_0052E                 0
DP05_0071E                 0
DP05_0076E                 0
RESP                    2282
CANCER                  2282
OZONE                   2265
PM25                    2265
Alcohol                 2248
Smoking                 2248
Depression              2248
No. of doctor visits    2248
Obesity                 2248
sleep_deprived          2248
dtype: int64

In [62]:
# Save the merged DataFrame to a CSV file
final_data_1.to_csv("final_data_1.csv", index=False)

# Confirmation message
print("The dataset has been successfully saved as 'final_data_1.csv'.")

The dataset has been successfully saved as 'final_data_1.csv'.

In [63]:
Phycial_inactivity = pd.read_csv("Crude Prevalence of No Leisure-time Physical Activity among Adults greater than equal to 18 yrs.csv")
Phycial_inactivity

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,11.5%,NaN,(10.4% - 12.8%),10.4%,12.8%,NaN
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,10.0%,NaN,(9.0% - 11.2%),9.0%,11.2%,NaN
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,11.7%,NaN,(10.4% - 13.2%),10.4%,13.2%,NaN
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,11.6%,NaN,(10.6% - 12.9%),10.6%,12.9%,NaN
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,13.8%,NaN,(12.3% - 15.7%),12.3%,15.7%,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8053,6,California,6115040800,"Yuba County, CA - 06115040800",2020,18.9%,NaN,(17.3% - 20.5%),17.3%,20.5%,NaN
8054,6,California,6115040901,"Yuba County, CA - 06115040901",2020,24.0%,NaN,(23.0% - 25.1%),23.0%,25.1%,NaN
8055,6,California,6115040902,"Yuba County, CA - 06115040902",2020,13.8%,NaN,(12.3% - 15.6%),12.3%,15.6%,NaN
8056,6,California,6115041000,"Yuba County, CA - 06115041000",2020,18.5%,NaN,(17.2% - 19.8%),17.2%,19.8%,NaN
8057,6,California,6115041100,"Yuba County, CA - 06115041100",2020,22.6%,NaN,(21.5% - 23.7%),21.5%,23.7%,NaN

In [64]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Phycial_inactivity['complete_census_tract'] = '0' + Phycial_inactivity['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Phycial_inactivity.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,11.5%,NaN,(10.4% - 12.8%),10.4%,12.8%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,10.0%,NaN,(9.0% - 11.2%),9.0%,11.2%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,11.7%,NaN,(10.4% - 13.2%),10.4%,13.2%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,11.6%,NaN,(10.6% - 12.9%),10.6%,12.9%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,13.8%,NaN,(12.3% - 15.7%),12.3%,15.7%,NaN,06001400500

In [65]:
# Rename the 'Value' column to 'sleep_depriveds'
Phycial_inactivity.rename(columns={'Value': 'Phycial Inactivity'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Phycial_inactivity.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Phycial Inactivity,Data Comment,95% Confidence Interval,Confidence Interval Low,Confidence Interval High,Unnamed: 10,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,11.5%,NaN,(10.4% - 12.8%),10.4%,12.8%,NaN,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,10.0%,NaN,(9.0% - 11.2%),9.0%,11.2%,NaN,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,11.7%,NaN,(10.4% - 13.2%),10.4%,13.2%,NaN,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,11.6%,NaN,(10.6% - 12.9%),10.6%,12.9%,NaN,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,13.8%,NaN,(12.3% - 15.7%),12.3%,15.7%,NaN,06001400500

In [66]:
# Step 1: Retain only the 'complete_census_tract' and 'Alcohol' columns in Alcohol_value_data
Phycial_inactivity = Phycial_inactivity[['complete_census_tract', 'Phycial Inactivity']]
Phycial_inactivity

     complete_census_tract Phycial Inactivity
0              06001400100              11.5%
1              06001400200              10.0%
2              06001400300              11.7%
3              06001400400              11.6%
4              06001400500              13.8%
...                    ...                ...
8053           06115040800              18.9%
8054           06115040901              24.0%
8055           06115040902              13.8%
8056           06115041000              18.5%
8057           06115041100              22.6%

[8058 rows x 2 columns]

In [67]:
Access_to_parks = pd.read_csv("Percent of People Living Within half or 1 mile of a park.csv")
Access_to_parks

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,Unnamed: 7,Distance to Parks
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile
...,...,...,...,...,...,...,...,...,...
9104,6,California,6115040902,"Yuba County, CA - 06115040902",2020,3.5%,NaN,NaN,Distance to Parks: 1/2 Mile
9105,6,California,6115041001,"Yuba County, CA - 06115041001",2020,2.4%,NaN,NaN,Distance to Parks: 1/2 Mile
9106,6,California,6115041002,"Yuba County, CA - 06115041002",2020,44.0%,NaN,NaN,Distance to Parks: 1/2 Mile
9107,6,California,6115041101,"Yuba County, CA - 06115041101",2020,81.7%,NaN,NaN,Distance to Parks: 1/2 Mile
9108,6,California,6115041102,"Yuba County, CA - 06115041102",2020,32.8%,NaN,NaN,Distance to Parks: 1/2 Mile

In [68]:
# Prepend '0' to the 'CensusTract' values to make them 11 digits and store in a new column 'complete_census_tract'
Access_to_parks['complete_census_tract'] = '0' + Access_to_parks['CensusTract'].astype(str)

# Display the first 5 rows of the new DataFrame to verify the changes
Access_to_parks.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Value,Data Comment,Unnamed: 7,Distance to Parks,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400500

In [69]:
# Rename the 'Value' column to 'sleep_depriveds'
Access_to_parks.rename(columns={'Value': 'Distance to Parks'}, inplace=True)

# Display the first 5 rows of the DataFrame to verify the change
Access_to_parks.head(5)

,StateFIPS,State,CensusTract,Census Tract,Year,Distance to Parks,Data Comment,Unnamed: 7,Distance to Parks,complete_census_tract
0,6,California,6001400100,"Alameda County, CA - 06001400100",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400100
1,6,California,6001400200,"Alameda County, CA - 06001400200",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400200
2,6,California,6001400300,"Alameda County, CA - 06001400300",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400300
3,6,California,6001400400,"Alameda County, CA - 06001400400",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400400
4,6,California,6001400500,"Alameda County, CA - 06001400500",2020,100.0%,NaN,NaN,Distance to Parks: 1/2 Mile,06001400500

In [70]:
# Step 1: Retain only the 'complete_census_tract' and 'Alcohol' columns in Alcohol_value_data
Access_to_parks = Access_to_parks[['complete_census_tract', 'Distance to Parks']]
Access_to_parks

     complete_census_tract Distance to Parks            Distance to Parks
0              06001400100            100.0%  Distance to Parks: 1/2 Mile
1              06001400200            100.0%  Distance to Parks: 1/2 Mile
2              06001400300            100.0%  Distance to Parks: 1/2 Mile
3              06001400400            100.0%  Distance to Parks: 1/2 Mile
4              06001400500            100.0%  Distance to Parks: 1/2 Mile
...                    ...               ...                          ...
9104           06115040902              3.5%  Distance to Parks: 1/2 Mile
9105           06115041001              2.4%  Distance to Parks: 1/2 Mile
9106           06115041002             44.0%  Distance to Parks: 1/2 Mile
9107           06115041101             81.7%  Distance to Parks: 1/2 Mile
9108           06115041102             32.8%  Distance to Parks: 1/2 Mile

[9109 rows x 3 columns]

In [71]:
DP02_CDC_data_1 = pd.read_csv("DP02.csv")
DP02_CDC_data_1.head(2)

C:\Users\Student\AppData\Local\Temp\ipykernel_15212\740879481.py:1: DtypeWarning: Columns (2,3,4,5,8,9,12,13,16,17,18,19,20,21,24,25,26,27,28,29,30,31,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,344,358,360,361,362,363,364,365,366,367,368,369,370,372,373,374,375,376,377,378,379,380,381,382,396,408,414,416,417,418,419,420,421,422,423,424,425,426,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,448,449,450,452,453,454,456,457,458,460,461,462,466,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,486,487,488,489,490,491,492,493,494,495,496,497,498,500,501,502,503,504,506,512,514,515,516,517,518,520,521,522,523,524,525,526,527,528,529,530,531,532,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612) have mixed types. Specify dtype option on import or set low_memory=False.
  DP02_CDC_data_1 = pd.read_csv("DP02.csv")

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0002E,DP02_0002M,DP02_0003E,DP02_0003M,DP02_0004E,DP02_0004M,...,DP02_0150PM,DP02_0151PE,DP02_0151PM,DP02_0152PE,DP02_0152PM,DP02_0153PE,DP02_0153PM,DP02_0154PE,DP02_0154PM,Unnamed: 618
0,Geography,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,...,Percent Margin of Error!!ANCESTRY!!Total popul...,Percent!!ANCESTRY!!Total population!!West Indi...,Percent Margin of Error!!ANCESTRY!!Total popul...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,NaN
1,0400000US06,California,13103114,18542,6510580,28316,(X),(X),896192,7689,...,0.1,0.2,0.1,13103114,(X),94.3,0.1,88.9,0.1,NaN

In [72]:
# Extract the last 11 digits from the 'GEO_ID' column and create a new column 'Extracted_Code'
DP02_CDC_data_1['Extracted_Code'] = DP02_CDC_data_1['GEO_ID'].astype(str).str[-11:]

# Display the first 5 rows to verify the changes
DP02_CDC_data_1.head(5)

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0002E,DP02_0002M,DP02_0003E,DP02_0003M,DP02_0004E,DP02_0004M,...,DP02_0151PE,DP02_0151PM,DP02_0152PE,DP02_0152PM,DP02_0153PE,DP02_0153PM,DP02_0154PE,DP02_0154PM,Unnamed: 618,Extracted_Code
0,Geography,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,...,Percent!!ANCESTRY!!Total population!!West Indi...,Percent Margin of Error!!ANCESTRY!!Total popul...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,NaN,Geography
1,0400000US06,California,13103114,18542,6510580,28316,(X),(X),896192,7689,...,0.2,0.1,13103114,(X),94.3,0.1,88.9,0.1,NaN,0400000US06
2,1400000US06001400100,"Census Tract 4001, Alameda County, California",1274,125,706,121,(X),(X),116,59,...,0.0,1.3,1274,(X),97.2,2.0,92.4,6.8,NaN,06001400100
3,1400000US06001400200,"Census Tract 4002, Alameda County, California",830,79,423,64,(X),(X),56,24,...,0.0,2.0,830,(X),99.3,1.1,97.1,2.1,NaN,06001400200
4,1400000US06001400300,"Census Tract 4003, Alameda County, California",2419,245,849,168,(X),(X),240,138,...,0.8,1.3,2419,(X),91.0,5.6,88.6,5.8,NaN,06001400300

In [73]:
# List of columns to retain
columns_to_keep = [
    'Extracted_Code', 'DP02_0037PE', 'DP02_0053PE', 'DP02_0059PE', 'DP02_0072PE', 'DP02_0114PE']

# Create a new DataFrame with only the specified columns
DP02_dataframe = DP02_CDC_data_1[columns_to_keep].copy()

# Display the new DataFrame to verify the columns are retained
DP02_dataframe.head()

,Extracted_Code,DP02_0037PE,DP02_0053PE,DP02_0059PE,DP02_0072PE,DP02_0114PE
0,Geography,Percent!!FERTILITY!!Number of women 15 to 50 y...,Percent!!SCHOOL ENROLLMENT!!Population 3 years...,Percent!!EDUCATIONAL ATTAINMENT!!Population 25...,Percent!!DISABILITY STATUS OF THE CIVILIAN NON...,Percent!!LANGUAGE SPOKEN AT HOME!!Population 5...
1,0400000US06,463780,10331447,26665143,10.7,43.9
2,06001400100,12,752,2412,11.8,22.8
3,06001400200,26,404,1605,8.9,15.4
4,06001400300,23,1147,4024,11.4,14.4

In [74]:
len(DP02_dataframe)

9131

In [75]:
DP03_CDC_data_2 = pd.read_csv("DP03.csv")
DP03_CDC_data_2.head(2)

C:\Users\Student\AppData\Local\Temp\ipykernel_15212\1489620798.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,128,129,132,133,136,137,140,141,144,145,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,176,177,178,179,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,276,278,279,280,281,282,283,284,285,286,287,288,289,290,292,293,294,296,297,298,299,300,301,302,306,310,312,313,314,315,316,317,318,319,320,321,322,323,326,328,329,330,331,332,333,334,335,336,337,338,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,368,369,370,371,372,373,374,375,376,424,452,464,466,467,468,469,470,471,472,473,474,476,477,478,480,482,484,485,486,487,488,489,490,491,492,502,504,505,506,507,508,509,510,511) have mixed types. Specify dtype option on import or set low_memory=False.
  DP03_CDC_data_2 = pd.read_csv("DP03.csv")

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0002E,DP03_0002M,DP03_0003E,DP03_0003M,DP03_0004E,DP03_0004M,...,DP03_0133PM,DP03_0134PE,DP03_0134PM,DP03_0135PE,DP03_0135PM,DP03_0136PE,DP03_0136PM,DP03_0137PE,DP03_0137PM,Unnamed: 550
0,Geography,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,NaN
1,0400000US06,California,31403964,4410,20016955,20242,19875973,20419,18646894,21848,...,0.1,11.6,0.1,10.3,0.1,9.9,0.1,24.9,0.1,NaN

In [76]:
# Extract the last 11 digits from the 'GEO_ID' column and create a new column 'Extracted_Code'
DP03_CDC_data_2['Extracted_Code'] = DP03_CDC_data_2['GEO_ID'].astype(str).str[-11:]

# Display the first 5 rows to verify the changes
DP03_CDC_data_2.head(5)

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0002E,DP03_0002M,DP03_0003E,DP03_0003M,DP03_0004E,DP03_0004M,...,DP03_0134PE,DP03_0134PM,DP03_0135PE,DP03_0135PM,DP03_0136PE,DP03_0136PM,DP03_0137PE,DP03_0137PM,Unnamed: 550,Extracted_Code
0,Geography,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,NaN,Geography
1,0400000US06,California,31403964,4410,20016955,20242,19875973,20419,18646894,21848,...,11.6,0.1,10.3,0.1,9.9,0.1,24.9,0.1,NaN,0400000US06
2,1400000US06001400100,"Census Tract 4001, Alameda County, California",2511,252,1587,223,1587,223,1571,223,...,4.4,3.0,6.5,7.3,0.8,1.4,14.9,9.4,NaN,06001400100
3,1400000US06001400200,"Census Tract 4002, Alameda County, California",1669,193,1234,180,1234,180,1136,144,...,7.0,3.2,6.7,6.3,0.0,3.1,16.7,5.7,NaN,06001400200
4,1400000US06001400300,"Census Tract 4003, Alameda County, California",4317,497,3273,437,3273,437,3162,438,...,5.2,2.6,10.2,10.4,0.0,1.3,12.9,6.3,NaN,06001400300

In [77]:
# List of columns to retain
columns_to_keep = [
    'Extracted_Code', 'DP03_0001PE', 'DP03_0096PE', 'DP03_0097PE', 'DP03_0098PE', 'DP03_0099PE']

# Create a new DataFrame with only the specified columns
DP03_dataframe = DP03_CDC_data_2[columns_to_keep].copy()

# Display the new DataFrame to verify the columns are retained
DP03_dataframe.head()

,Extracted_Code,DP03_0001PE,DP03_0096PE,DP03_0097PE,DP03_0098PE,DP03_0099PE
0,Geography,Percent!!EMPLOYMENT STATUS!!Population 16 year...,Percent!!HEALTH INSURANCE COVERAGE!!Civilian n...,Percent!!HEALTH INSURANCE COVERAGE!!Civilian n...,Percent!!HEALTH INSURANCE COVERAGE!!Civilian n...,Percent!!HEALTH INSURANCE COVERAGE!!Civilian n...
1,0400000US06,31403964,92.8,64.3,38.0,7.2
2,06001400100,2511,99.5,90.3,28.5,0.5
3,06001400200,1669,99.6,91.5,26.1,0.4
4,06001400300,4317,99.7,91.9,21.4,0.3

In [78]:
len(DP03_CDC_data_2)

9131

In [79]:
# Ensure each dataset has only the required columns
Phycial_inactivity = Phycial_inactivity[['complete_census_tract', 'Phycial Inactivity']]
Access_to_parks = Access_to_parks[['complete_census_tract', 'Distance to Parks']]

# Start merging with master_file2
fourth_final_merge_data = pd.merge(master_file2, Phycial_inactivity, left_on='FIPS_COMPLETE_CODE', right_on='complete_census_tract', how='left')
fourth_final_merge_data = pd.merge(fourth_final_merge_data, Access_to_parks, on='complete_census_tract', how='left')

# Display the first few rows to verify the final merged data
fourth_final_merge_data.head()

,TYPE,FULLCODE,STATE,COUNTY,TRACT,SHEETS,FIPS_COMPLETE_CODE,complete_census_tract,Phycial Inactivity,Distance to Parks,Distance to Parks
0,TRACT,6001400100,6,1,4001.0,1,06001400100,06001400100,11.5%,100.0%,Distance to Parks: 1/2 Mile
1,TRACT,6001400200,6,1,4002.0,1,06001400200,06001400200,10.0%,100.0%,Distance to Parks: 1/2 Mile
2,TRACT,6001400300,6,1,4003.0,1,06001400300,06001400300,11.7%,100.0%,Distance to Parks: 1/2 Mile
3,TRACT,6001400400,6,1,4004.0,1,06001400400,06001400400,11.6%,100.0%,Distance to Parks: 1/2 Mile
4,TRACT,6001400500,6,1,4005.0,1,06001400500,06001400500,13.8%,100.0%,Distance to Parks: 1/2 Mile

In [80]:
# Dropping specified columns from the DataFrame
cleaned_df_4 = fourth_final_merge_data.drop(columns=['TYPE', 'FULLCODE', 'STATE', 'COUNTY', 'TRACT', 'SHEETS', 'complete_census_tract'])

In [81]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count_cleaned_df_4 = cleaned_df_4.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_cleaned_df_4)

FIPS_COMPLETE_CODE       0
Phycial Inactivity    2248
Distance to Parks     2267
Distance to Parks     2267
dtype: int64

In [82]:
# Ensure each dataset has only the required columns

DP02_dataframe = DP02_dataframe[['Extracted_Code', 'DP02_0037PE', 'DP02_0053PE', 'DP02_0059PE', 'DP02_0072PE', 'DP02_0114PE']]
DP03_dataframe = DP03_dataframe[['Extracted_Code', 'DP03_0001PE', 'DP03_0096PE', 'DP03_0097PE', 'DP03_0098PE', 'DP03_0099PE']]

# Start merging with master_file2
fifth_final_merge_data = pd.merge(master_file2, DP02_dataframe, left_on='FIPS_COMPLETE_CODE', right_on='Extracted_Code', how='left')
fifth_final_merge_data = pd.merge(fifth_final_merge_data, DP03_dataframe, on='Extracted_Code', how='left')

# Display the first few rows to verify the final merged data
fifth_final_merge_data.head()

,TYPE,FULLCODE,STATE,COUNTY,TRACT,SHEETS,FIPS_COMPLETE_CODE,Extracted_Code,DP02_0037PE,DP02_0053PE,DP02_0059PE,DP02_0072PE,DP02_0114PE,DP03_0001PE,DP03_0096PE,DP03_0097PE,DP03_0098PE,DP03_0099PE
0,TRACT,6001400100,6,1,4001.0,1,06001400100,06001400100,12,752,2412,11.8,22.8,2511,99.5,90.3,28.5,0.5
1,TRACT,6001400200,6,1,4002.0,1,06001400200,06001400200,26,404,1605,8.9,15.4,1669,99.6,91.5,26.1,0.4
2,TRACT,6001400300,6,1,4003.0,1,06001400300,06001400300,23,1147,4024,11.4,14.4,4317,99.7,91.9,21.4,0.3
3,TRACT,6001400400,6,1,4004.0,1,06001400400,06001400400,136,877,3157,8.3,16.9,3361,97.4,85.4,20.7,2.6
4,TRACT,6001400500,6,1,4005.0,1,06001400500,06001400500,40,664,3018,6.1,16.6,3588,97.3,80.2,24.4,2.7

In [83]:
cleaned_df_5 = fifth_final_merge_data.drop(columns=['TYPE', 'FULLCODE', 'STATE', 'COUNTY', 'TRACT', 'SHEETS', 'Extracted_Code'])

In [84]:
# Calculate the count of missing values in each column of the merged DataFrame
missing_values_count_cleaned_df_5 = cleaned_df_5.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_cleaned_df_5)

FIPS_COMPLETE_CODE    0
DP02_0037PE           0
DP02_0053PE           0
DP02_0059PE           0
DP02_0072PE           0
DP02_0114PE           0
DP03_0001PE           0
DP03_0096PE           0
DP03_0097PE           0
DP03_0098PE           0
DP03_0099PE           0
dtype: int64

In [85]:
# Merging cleaned_df_4 and cleaned_df_5 on 'FIPS_COMPLETE_CODE'
final_data_2 = cleaned_df_4.merge(cleaned_df_5, on='FIPS_COMPLETE_CODE', how='inner')

In [86]:
final_data_2

,FIPS_COMPLETE_CODE,Phycial Inactivity,Distance to Parks,Distance to Parks,DP02_0037PE,DP02_0053PE,DP02_0059PE,DP02_0072PE,DP02_0114PE,DP03_0001PE,DP03_0096PE,DP03_0097PE,DP03_0098PE,DP03_0099PE
0,06001400100,11.5%,100.0%,Distance to Parks: 1/2 Mile,12,752,2412,11.8,22.8,2511,99.5,90.3,28.5,0.5
1,06001400200,10.0%,100.0%,Distance to Parks: 1/2 Mile,26,404,1605,8.9,15.4,1669,99.6,91.5,26.1,0.4
2,06001400300,11.7%,100.0%,Distance to Parks: 1/2 Mile,23,1147,4024,11.4,14.4,4317,99.7,91.9,21.4,0.3
3,06001400400,11.6%,100.0%,Distance to Parks: 1/2 Mile,136,877,3157,8.3,16.9,3361,97.4,85.4,20.7,2.6
4,06001400500,13.8%,100.0%,Distance to Parks: 1/2 Mile,40,664,3018,6.1,16.6,3588,97.3,80.2,24.4,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,06115040902,13.8%,3.5%,Distance to Parks: 1/2 Mile,26,432,456,4.6,14.6,1245,99.3,95.0,7.8,0.7
9125,06115041001,NaN,NaN,NaN,24,467,2553,16.8,7.3,2901,95.0,77.2,46.0,5.0
9126,06115041002,NaN,NaN,NaN,23,1165,2896,17.9,10.6,3124,91.2,69.8,37.7,8.8
9127,06115041101,NaN,NaN,NaN,6,710,2009,25.7,3.3,2154,92.9,43.3,63.4,7.1
9128,06115041102,NaN,NaN,NaN,34,162,781,20.2,7.2,867,96.7,48.1,74.7,3.3

In [87]:
# Save the merged DataFrame to a CSV file
final_data_2.to_csv("final_data_2.csv", index=False)

# Confirmation message
print("The dataset has been successfully saved as 'final_data_2.csv'.")

The dataset has been successfully saved as 'final_data_2.csv'.

In [88]:
# Merging final_data_2 and final_data_1 on 'FIPS_COMPLETE_CODE'
merged_data_final = final_data_2.merge(final_data_1, on='FIPS_COMPLETE_CODE', how='inner')

In [89]:
merged_data_final

,FIPS_COMPLETE_CODE,Phycial Inactivity,Distance to Parks,Distance to Parks,DP02_0037PE,DP02_0053PE,DP02_0059PE,DP02_0072PE,DP02_0114PE,DP03_0001PE,...,RESP,CANCER,OZONE,PM25,Alcohol,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived
0,06001400100,11.5%,100.0%,Distance to Parks: 1/2 Mile,12,752,2412,11.8,22.8,2511,...,0.437041,26.496604,29.385423,11.305341,15.1%,6.2%,13.7%,70.2%,22.0%,24.2%
1,06001400200,10.0%,100.0%,Distance to Parks: 1/2 Mile,26,404,1605,8.9,15.4,1669,...,0.477660,28.281955,28.530086,11.260254,18.6%,6.2%,15.3%,66.1%,22.7%,24.5%
2,06001400300,11.7%,100.0%,Distance to Parks: 1/2 Mile,23,1147,4024,11.4,14.4,4317,...,0.478842,28.593743,28.311229,11.245879,19.3%,8.4%,16.3%,64.7%,24.4%,27.2%
3,06001400400,11.6%,100.0%,Distance to Parks: 1/2 Mile,136,877,3157,8.3,16.9,3361,...,0.474343,28.571811,28.259590,11.247578,19.9%,8.4%,16.7%,63.9%,24.7%,27.3%
4,06001400500,13.8%,100.0%,Distance to Parks: 1/2 Mile,40,664,3018,6.1,16.6,3588,...,0.479876,28.781211,28.039771,11.227445,19.6%,10.0%,16.4%,64.4%,27.2%,29.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,06115040902,13.8%,3.5%,Distance to Parks: 1/2 Mile,26,432,456,4.6,14.6,1245,...,0.550206,36.993393,55.107076,8.045107,28.4%,11.6%,20.3%,57.3%,27.0%,33.3%
9125,06115041001,NaN,NaN,NaN,24,467,2553,16.8,7.3,2901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9126,06115041002,NaN,NaN,NaN,23,1165,2896,17.9,10.6,3124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9127,06115041101,NaN,NaN,NaN,6,710,2009,25.7,3.3,2154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9128,06115041102,NaN,NaN,NaN,34,162,781,20.2,7.2,867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
# Calculate the count of missing values in each column of the final merged DataFrame
missing_values_count_merged_data_final = merged_data_final.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_merged_data_final)

FIPS_COMPLETE_CODE         0
Phycial Inactivity      2248
Distance to Parks       2267
Distance to Parks       2267
DP02_0037PE                0
DP02_0053PE                0
DP02_0059PE                0
DP02_0072PE                0
DP02_0114PE                0
DP03_0001PE                0
DP03_0096PE                0
DP03_0097PE                0
DP03_0098PE                0
DP03_0099PE                0
DP05_0001E                 0
DP05_0002E                 0
DP05_0003E                 0
DP05_0005E                 0
DP05_0006E                 0
DP05_0007E                 0
DP05_0008E                 0
DP05_0009E                 0
DP05_0010E                 0
DP05_0011E                 0
DP05_0012E                 0
DP05_0013E                 0
DP05_0014E                 0
DP05_0015E                 0
DP05_0016E                 0
DP05_0017E                 0
DP05_0033E                 0
DP05_0037E                 0
DP05_0038E                 0
DP05_0039E                 0
DP05_0040E                 0
DP05_0041E                 0
DP05_0042E                 0
DP05_0043E                 0
DP05_0044E                 0
DP05_0045E                 0
DP05_0046E                 0
DP05_0047E                 0
DP05_0048E                 0
DP05_0049E                 0
DP05_0050E                 0
DP05_0051E                 0
DP05_0052E                 0
DP05_0071E                 0
DP05_0076E                 0
RESP                    2282
CANCER                  2282
OZONE                   2265
PM25                    2265
Alcohol                 2248
Smoking                 2248
Depression              2248
No. of doctor visits    2248
Obesity                 2248
sleep_deprived          2248
dtype: int64

In [91]:
# Save the FINAL merged DataFrame to a CSV file
merged_data_final.to_csv("merged_data_final.csv", index=False)

# Confirmation message
print("The dataset has been successfully saved as 'merged_data_final.csv'.")

The dataset has been successfully saved as 'merged_data_final.csv'.

In [93]:
# Assuming 'df' is your DataFrame
merged_data_final.columns = ['FIPS' if x == 'FIPS_COMPLETE_CODE' else x for x in merged_data_final.columns]

# Removing the second instance of 'Distance to Parks'
duplicated_columns = merged_data_final.columns.duplicated()
merged_data_final = merged_data_final.loc[:, ~duplicated_columns]

In [94]:
# Calculate the count of missing values in each column of the final merged DataFrame
missing_values_count_merged_data_final = merged_data_final.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_merged_data_final)

FIPS                       0
Phycial Inactivity      2248
Distance to Parks       2267
DP02_0037PE                0
DP02_0053PE                0
DP02_0059PE                0
DP02_0072PE                0
DP02_0114PE                0
DP03_0001PE                0
DP03_0096PE                0
DP03_0097PE                0
DP03_0098PE                0
DP03_0099PE                0
DP05_0001E                 0
DP05_0002E                 0
DP05_0003E                 0
DP05_0005E                 0
DP05_0006E                 0
DP05_0007E                 0
DP05_0008E                 0
DP05_0009E                 0
DP05_0010E                 0
DP05_0011E                 0
DP05_0012E                 0
DP05_0013E                 0
DP05_0014E                 0
DP05_0015E                 0
DP05_0016E                 0
DP05_0017E                 0
DP05_0033E                 0
DP05_0037E                 0
DP05_0038E                 0
DP05_0039E                 0
DP05_0040E                 0
DP05_0041E                 0
DP05_0042E                 0
DP05_0043E                 0
DP05_0044E                 0
DP05_0045E                 0
DP05_0046E                 0
DP05_0047E                 0
DP05_0048E                 0
DP05_0049E                 0
DP05_0050E                 0
DP05_0051E                 0
DP05_0052E                 0
DP05_0071E                 0
DP05_0076E                 0
RESP                    2282
CANCER                  2282
OZONE                   2265
PM25                    2265
Alcohol                 2248
Smoking                 2248
Depression              2248
No. of doctor visits    2248
Obesity                 2248
sleep_deprived          2248
dtype: int64

In [95]:

cols = merged_data_final.columns.tolist()  # Convert column names to a list
# Move 'Phycial Inactivity' and 'Distance to Parks' to the end
cols_to_move = ['Phycial Inactivity', 'Distance to Parks']
cols = [col for col in cols if col not in cols_to_move] + cols_to_move

# Reorder the DataFrame columns
merged_data_final = merged_data_final[cols]
merged_data_final

,FIPS,DP02_0037PE,DP02_0053PE,DP02_0059PE,DP02_0072PE,DP02_0114PE,DP03_0001PE,DP03_0096PE,DP03_0097PE,DP03_0098PE,...,OZONE,PM25,Alcohol,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived,Phycial Inactivity,Distance to Parks
0,06001400100,12,752,2412,11.8,22.8,2511,99.5,90.3,28.5,...,29.385423,11.305341,15.1%,6.2%,13.7%,70.2%,22.0%,24.2%,11.5%,100.0%
1,06001400200,26,404,1605,8.9,15.4,1669,99.6,91.5,26.1,...,28.530086,11.260254,18.6%,6.2%,15.3%,66.1%,22.7%,24.5%,10.0%,100.0%
2,06001400300,23,1147,4024,11.4,14.4,4317,99.7,91.9,21.4,...,28.311229,11.245879,19.3%,8.4%,16.3%,64.7%,24.4%,27.2%,11.7%,100.0%
3,06001400400,136,877,3157,8.3,16.9,3361,97.4,85.4,20.7,...,28.259590,11.247578,19.9%,8.4%,16.7%,63.9%,24.7%,27.3%,11.6%,100.0%
4,06001400500,40,664,3018,6.1,16.6,3588,97.3,80.2,24.4,...,28.039771,11.227445,19.6%,10.0%,16.4%,64.4%,27.2%,29.7%,13.8%,100.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,06115040902,26,432,456,4.6,14.6,1245,99.3,95.0,7.8,...,55.107076,8.045107,28.4%,11.6%,20.3%,57.3%,27.0%,33.3%,13.8%,3.5%
9125,06115041001,24,467,2553,16.8,7.3,2901,95.0,77.2,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9126,06115041002,23,1165,2896,17.9,10.6,3124,91.2,69.8,37.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9127,06115041101,6,710,2009,25.7,3.3,2154,92.9,43.3,63.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9128,06115041102,34,162,781,20.2,7.2,867,96.7,48.1,74.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# Calculate the count of missing values in each column of the final merged DataFrame
missing_values_count_merged_data_final = merged_data_final.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_merged_data_final)

FIPS                       0
DP02_0037PE                0
DP02_0053PE                0
DP02_0059PE                0
DP02_0072PE                0
DP02_0114PE                0
DP03_0001PE                0
DP03_0096PE                0
DP03_0097PE                0
DP03_0098PE                0
DP03_0099PE                0
DP05_0001E                 0
DP05_0002E                 0
DP05_0003E                 0
DP05_0005E                 0
DP05_0006E                 0
DP05_0007E                 0
DP05_0008E                 0
DP05_0009E                 0
DP05_0010E                 0
DP05_0011E                 0
DP05_0012E                 0
DP05_0013E                 0
DP05_0014E                 0
DP05_0015E                 0
DP05_0016E                 0
DP05_0017E                 0
DP05_0033E                 0
DP05_0037E                 0
DP05_0038E                 0
DP05_0039E                 0
DP05_0040E                 0
DP05_0041E                 0
DP05_0042E                 0
DP05_0043E                 0
DP05_0044E                 0
DP05_0045E                 0
DP05_0046E                 0
DP05_0047E                 0
DP05_0048E                 0
DP05_0049E                 0
DP05_0050E                 0
DP05_0051E                 0
DP05_0052E                 0
DP05_0071E                 0
DP05_0076E                 0
RESP                    2282
CANCER                  2282
OZONE                   2265
PM25                    2265
Alcohol                 2248
Smoking                 2248
Depression              2248
No. of doctor visits    2248
Obesity                 2248
sleep_deprived          2248
Phycial Inactivity      2248
Distance to Parks       2267
dtype: int64

In [98]:

# Assuming 'df' is your DataFrame
cols = merged_data_final.columns.tolist()  # Get a list of all column names

# Extract columns starting with specific patterns
fips = ['FIPS']
dp05_cols = [col for col in cols if col.startswith('DP05')]
dp02_cols = [col for col in cols if col.startswith('DP02')]
dp03_cols = [col for col in cols if col.startswith('DP03')]
other_cols = [col for col in cols if col not in fips + dp05_cols + dp02_cols + dp03_cols]

# Create a new order of columns
new_order = fips + dp05_cols + dp02_cols + dp03_cols + other_cols

# Reorder the DataFrame columns
merged_data_final = merged_data_final[new_order]
merged_data_final

,FIPS,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,DP05_0010E,...,OZONE,PM25,Alcohol,Smoking,Depression,No. of doctor visits,Obesity,sleep_deprived,Phycial Inactivity,Distance to Parks
0,06001400100,3035,1562,1473,148,107,238,96,34,328,...,29.385423,11.305341,15.1%,6.2%,13.7%,70.2%,22.0%,24.2%,11.5%,100.0%
1,06001400200,1983,996,987,121,76,100,39,42,463,...,28.530086,11.260254,18.6%,6.2%,15.3%,66.1%,22.7%,24.5%,10.0%,100.0%
2,06001400300,5058,2441,2617,150,451,99,243,91,1163,...,28.311229,11.245879,19.3%,8.4%,16.3%,64.7%,24.4%,27.2%,11.7%,100.0%
3,06001400400,4179,1807,2372,282,206,276,153,105,1058,...,28.259590,11.247578,19.9%,8.4%,16.7%,63.9%,24.7%,27.3%,11.6%,100.0%
4,06001400500,4021,1827,2194,184,106,107,147,459,840,...,28.039771,11.227445,19.6%,10.0%,16.4%,64.4%,27.2%,29.7%,13.8%,100.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,06115040902,1601,960,641,132,96,109,174,634,278,...,55.107076,8.045107,28.4%,11.6%,20.3%,57.3%,27.0%,33.3%,13.8%,3.5%
9125,06115041001,3493,1673,1820,226,210,103,193,208,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9126,06115041002,4021,2149,1872,261,261,294,254,55,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9127,06115041101,2751,1332,1419,108,227,253,93,61,240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9128,06115041102,1027,634,393,52,46,42,72,34,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
# Calculate the count of missing values in each column of the final merged DataFrame
missing_values_count_merged_data_final = merged_data_final.isnull().sum()

# Print the count of missing values for each column
print(missing_values_count_merged_data_final)

FIPS                       0
DP05_0001E                 0
DP05_0002E                 0
DP05_0003E                 0
DP05_0005E                 0
DP05_0006E                 0
DP05_0007E                 0
DP05_0008E                 0
DP05_0009E                 0
DP05_0010E                 0
DP05_0011E                 0
DP05_0012E                 0
DP05_0013E                 0
DP05_0014E                 0
DP05_0015E                 0
DP05_0016E                 0
DP05_0017E                 0
DP05_0033E                 0
DP05_0037E                 0
DP05_0038E                 0
DP05_0039E                 0
DP05_0040E                 0
DP05_0041E                 0
DP05_0042E                 0
DP05_0043E                 0
DP05_0044E                 0
DP05_0045E                 0
DP05_0046E                 0
DP05_0047E                 0
DP05_0048E                 0
DP05_0049E                 0
DP05_0050E                 0
DP05_0051E                 0
DP05_0052E                 0
DP05_0071E                 0
DP05_0076E                 0
DP02_0037PE                0
DP02_0053PE                0
DP02_0059PE                0
DP02_0072PE                0
DP02_0114PE                0
DP03_0001PE                0
DP03_0096PE                0
DP03_0097PE                0
DP03_0098PE                0
DP03_0099PE                0
RESP                    2282
CANCER                  2282
OZONE                   2265
PM25                    2265
Alcohol                 2248
Smoking                 2248
Depression              2248
No. of doctor visits    2248
Obesity                 2248
sleep_deprived          2248
Phycial Inactivity      2248
Distance to Parks       2267
dtype: int64

In [100]:
# Save the FINAL merged DataFrame to a CSV file
merged_data_final.to_csv("merged_data_final.csv", index=False)

# Confirmation message
print("The dataset has been successfully saved as 'merged_data_final.csv'.")

The dataset has been successfully saved as 'merged_data_final.csv'.